@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
* {
  margin: 0;
  padding: 1em;
}

body {
  background-color: #fec7d7;
  color: #0e172c;
  font-family: "PT Sans", sans-serif;
}
.container {
}
.edit-button {
  color: purple;
}
